---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import PostCard from "../components/PostCard.astro";
const posts = await getCollection("posts");
---
<BaseLayout>
	<div class="homepage">
		<div class="">
			<h1>Content Collection Overview</h1>
		</div>
		<div class="post-wrapper">
			<h2>Posts</h2>
			<div class="post-list">
				{
					posts.slice(0, 3).map((p) => <PostCard post={p} />)
				}
			</div>
		</div>
	</div>
</BaseLayout>


